
@media screen and(max-width: 760px) {
	.mlogo img {
		max-width: none;
		width: 39%;
	}
}
@media screen and (max-width: 560px) {
	header h1 {
		font-size: 68px
	}
	h2 {
		font-size: 26px;
		margin: 0 20px 25px;
	}
	.label2 {
		padding: 25px;
	}
}
@media screen and (max-width: 480px) {
	.mc-mix {
		h2 {
			font-size: 35px;
			line-height: 1.0;
			letter-spacing: -2px;
			font-family: arial;
		}
	}
	.box {
		// max-height: 480px;
		height: 100vh;
		width: 100%;
	}
	.details {
		max-width: 160px;
		padding: 0 15px;
		.details-title {
			font-size: 13px;
		}
		li {
			font-size: 10px;
			line-height: 1.2;
			padding-bottom: 6px;
			.details-title {
				font-size: 11px;
			}
		}
	}
}
@media screen and (max-width: 370px) {
	header h1 {
		font-size: 56px;
	}
}
