article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: #171616;
}

form {
  margin: 0 auto;
}

header {
  padding: 30px 15px 0;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

h2 {
  color: ivory;
  font-family: arial;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
  text-align: center;
}

.title-red {
  color: #D52B1E;
}

.mlogo {
  text-align: center;
}

.mlogo img {
  max-width: 22%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.section-one {
  padding: 30px 0 10px;
  padding-bottom: 10px;
}

.section-two {
  padding: 20px 15px 40px;
}

header h1 {
  color: #FDC82F;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 75px;
  margin-top: 0;
}

.begin {
  margin: 0 auto 50px;
  background: #FDC82F;
  color: #171616;
  padding: 18px 35px;
  width: 150px;
  border: none;
  font-size: 20px;
  display: block;
  outline: transparent;
  transition: background 0.4s, color 0.4s;
}

.begin:hover, .begin:focus {
  background: #D52B1E;
  color: ivory;
}

.question1 {
  max-width: 550px;
  padding: 2% 0 0;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.label1 {
  padding: 18% 0;
  text-align: center;
  width: 44%;
  margin-bottom: 5%;
  color: #FDC82F;
  text-transform: uppercase;
  font-family: helvetica;
  letter-spacing: 2px;
  background: #D52B1E;
  cursor: pointer;
}

.label1:hover {
  background: #FDC82F;
  color: black;
}

.label1.selected {
  background: #FDC82F;
  color: #171616;
}

.question2 {
  max-width: 730px;
  margin: 0 auto;
  padding: 16px 0;
}

.label2 {
  display: block;
  margin-bottom: 22px;
  color: #171616;
  background: #FDC82F;
  padding: 25px 42px;
  letter-spacing: 1px;
  border-radius: 5px;
  line-height: 1.4;
  transition: color 0.3s, background 0.3s;
  cursor: pointer;
}

.label2:hover {
  background: #D52B1E;
  color: #FDC82F;
}

input[type="radio"] {
  display: none;
}

.submit-button-container {
  padding: 25px 0 125px;
  text-align: center;
}

.submit-button {
  background: #D52B1E;
  color: #FDC82F;
  letter-spacing: 4px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid ivory;
  transition: background 0.4s;
}

.submit-button:hover {
  background: #171616;
}

.submit-button:focus {
  outline: transparent;
  border: 10px solid ivory;
}

footer {
  background: #FDC82F;
  padding: 15px 0;
  color: #171616;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

footer p {
  font-size: 10px;
}

.play-again {
  color: ivory;
  padding: 8px;
  background: #D52B1E;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.mc-mix {
  margin: 0 auto;
  display: none;
}

.mc-mix h2 {
  margin: 0 auto;
  color: #171616;
  font-size: 42px;
  text-transform: none;
  font-family: arial black;
  letter-spacing: -3px;
  text-align: left;
}

.picture9-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.picture9-box h2 {
  color: #D52B1E;
  margin: 0 auto;
}

.picture9-box h3 {
  color: #FDC82F;
}

.picture1-box {
  background: url(../images/mcmix-3-copy.jpg);
}

.picture2-box {
  background: url(../images/mcmix-6-copy.jpg);
}

.picture3-box {
  background: url(../images/mcmix-2-copy.jpg);
}

.picture4-box {
  background: url(../images/mcmix-7-copy.jpg);
}

.picture5-box {
  background: url(../images/mcmix-5-copy.jpg);
}

.picture6-box {
  background: url(../images/mcmix-4-copy.jpg);
}

.picture7-box {
  background: url(../images/mcmix.jpg);
}

.picture8-box {
  background: url(../images/mcbench.jpeg);
}

.box {
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 15px 0 0 28px;
  height: 100vh;
  width: 100vw;
  max-width: 1440px;
  max-height: 900px;
  position: relative;
}

.picture8-box {
  padding: 0;
}

.picture8-box h2 {
  color: ivory;
  text-align: center;
  line-height: 1.0;
}

.black-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(23, 22, 22, 0.2);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.damn-red {
  color: #D52B1E;
}

@media screen and (max-width: 760px) {
  .mlogo img {
    max-width: none;
    width: 39%;
  }
}

@media screen and (max-width: 560px) {
  header h1 {
    font-size: 68px;
  }
  h2 {
    font-size: 26px;
    margin: 0 20px 25px;
  }
  .label2 {
    padding: 25px;
  }
}

@media screen and (max-width: 480px) {
  .mc-mix h2 {
    font-size: 22px;
    line-height: 1.0;
    letter-spacing: 1px;
  }
  .box {
    max-height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  header h1 {
    font-size: 56px;
  }
}

/*# sourceMappingURL=styles.css.map */